/*.navbar {*/
/*  position: fixed;*/
/*}*/
/*.scrollspy-target {*/
/*  position: relative;*/
/*  overflow-y: scroll;*/
/*}*/

p {
  text-align: justify;
}

#screenshot {
  width: 600px;
  position: center;
}

@media (max-width: 600px) {
  #screenshot {
    width: auto;
  }
}
