<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-3">-->
<!--      <nav id="wiki-navbar" class="navbar navbar-light bg-light">-->
<!--        <nav class="nav nav-pills flex-column">-->
<!--          <a class="nav-link" href="#intro">Introductie</a>-->
<!--          <a class="nav-link" href="#screen">Scherm</a>-->
<!--          <nav class="nav nav-pills flex-column">-->
<!--            <a class="nav-link ml-3 my-1" href="#newCask">1. Nieuw fust</a>-->
<!--            <a class="nav-link ml-3 my-1" href="#newUser">2. Nieuwe gebruiker</a>-->
<!--            <a class="nav-link ml-4 my-1" href="#tankstation">3. Tankstation</a>-->
<!--            <a class="nav-link ml-4 my-1" href="#help">4. Help</a>-->
<!--            <a class="nav-link ml-4 my-1" href="#report">5. Rapporteer probleem</a>-->
<!--            <a class="nav-link ml-4 my-1" href="#flush">6. Spoelen</a>-->
<!--            <a class="nav-link ml-4 my-1" href="#round">7. Rondje</a>-->
<!--            <a class="nav-link ml-4 my-1" href="#person">8. Persoon knop</a>-->
<!--            <a class="nav-link ml-4 my-1" href="#bar">9. Fustbalk</a>-->
<!--            <a class="nav-link ml-4 my-1" href="#sound">10. Geluid</a>-->
<!--          </nav>-->
<!--          <a class="nav-link" href="#data">Dataopslag</a>-->
<!--        </nav>-->
<!--      </nav>-->
<!--    </div>-->
<!--    <div class="col-9">-->
<!--      <div data-spy="scroll" data-target="#wiki-navbar" data-offset="73" class="scrollspy-target">-->
        <h4 id="intro">Introductie</h4>
        <p>Je kan hier alles vinden wat je moet weten over het gebruik van de applicatie. Als je toch vragen hebt, kan je altijd contact opnemen via bierstrepen@luctimmerman.nl.</p>
        <h4 id="screen">Scherm</h4>
        <div id="screenshot">
          <img src="BierstrepenScreenshotWithNums.png" class="d-block w-100" alt="BierstrepenScreenshotWithNums">
        </div>
        <h5 id="newCask">1. Nieuw fust</h5>
        <p>Met deze knop kan je een nieuw fust aansluiten. Bij het klikken op deze knop zal je een pop-up zien verschijnen waar je alle relevante informatie over een fust in kan vullen:<br></p>
          <ul>
            <li>Type bier: het type bier dat in het fust zit. Wat je hier neerzet mag je zelf kiezen. Je kan bijvoorbeeld het merk van het bier neerzetten, of het soort bier.</li>
            <li>Prijs in euro's: de prijs van het bier. Deze zal worden gebruikt om te berekenen hoe veel geld alle gebruikers moeten betalen.</li>
            <li>Volume in milliliters: deze waarde wordt gebruikt om de vooruitgangsbalk bovenaan het scherm te vullen, zodat je in één oogopslag kan zien hoeveel er nog in het fust zou moeten zitten.</li>
          </ul>
        <p>Nadat je het nieuwe fust hebt bevestigd in de pop-up, zal het scherm verversen. Dit houdt in dat de zichtbare biertjes van de gebruikers weer op 0 zal komen te staan, de schulden zullen worden berekend en het theoretische volume van een biertje wordt aangepast, zodat na elk fust het programma beter weet hoeveel milliliter er wordt gebruikt per biertje.</p>
        <h5 id="newUser">2. Nieuwe gebruiker</h5>
        <p>Met deze knop kan je een nieuwe gebruiker toevoegen. Er zal een popup verschijnen waar je de naam van de nieuwe persoon kan invullen, en hij of zij zal direct onderin het scherm worden toegevoegd.</p>
        <h5 id="tankstation">3. Tankstation</h5>
        <p>Als je op deze knop klikt zal er een popup verschijnen waarop je kan zien hoeveel iedereen heeft getankt. Je ziet hier het totaal over de hele periode dat de persoon heeft bestaan, dus niet alleen voor het huidige fust.</p>
        <h5 id="help">4. Help</h5>
        <p>Dit is waarschijnlijk hoe je hier bent beland, deze knop verwijst naar deze website.</p>
        <h5 id="report">5. Rapporteer probleem</h5>
        <p>Hier kan je problemen rapporteren. Je systeembeheerder kan zien wat al deze problemen zijn en ze naar de ontwikkelaar doorsturen. Ooit zal dit hopelijk automatisch gaan...</p>
        <h5 id="flush">6. Spoelen</h5>
        <p>Met deze knop kan je aangeven dat de tap is gespoeld. Als het meer dan een week geleden is dat de tap is gespoeld, zal deze knop rood worden als indicatie dat hij weer gespoeld moet worden.</p>
        <h5 id="round">7. Rondje</h5>
        <p>Deze knop kan er in de praktijk bij jou anders uit zien, maar het idee is hetzelfde; wanneer er op deze knop wordt gedrukt, krijgt elke persoon er een biertje bij. Ook begint het volkslied van de Sovjet Unie te spelen. Je kan dit uitzetten door geluid uit te zetten of door nog eens op de knop te drukken.</p>
        <h5 id="person">8. Persoon knop</h5>
        <p>Wanneer op deze knop wordt gedrukt, krijgt de persoon die er aan hangt een biertje erbij; een streepje dus. Hiernaast zijn er meer opties wanneer je met de rechter muistoets op de knop klikt:</p>
          <ul>
            <li>Ondrink 1 biertje: Met deze knop kan je een streepje weghalen van een persoon. Je kan dit bijvoorbeeld doen wanneer je per ongeluk op een persoon hebt geklikt of als er een rondje is geweest maar deze persoon er toevallig niet was.</li>
            <li>Verwijder: Met deze knop kan je de persoon verwijderen. Let wel op: Wanneer je dit doet zal de persoon volledig verdwijnen en dus ook zijn of haar schulden. Je kan hierna dus niet meer zien wat de schuld van deze persoon was. Daarom is het aan te raden eerst ervoor te zorgen dat deze persoon geen schuld meer heeft.</li>
            <li>Schuld: Met deze knop kan je zien hoeveel schuld deze persoon heeft. In de popup die verschijnt kan je ook aangeven dat je hebt betaald.</li>
          </ul>
        <p>Naast de bovengenoemde dingen doet de knop nog twee andere dingen. Wanneer er op de knop wordt gedrukt zal het geluid van een Grolsch Beugelfles die geopend wordt luiden, als indicatie dat er weer gezopen kan worden. Daarnaast zal de kleur van de knop veranderen naarmate de persoon meet schuld heeft. Onder de €5 zal er niets veranderen, tussen de €5 en €10 is de knop oranje, en boven de €10 wordt de knop rood.</p>
        <h5 id="bar">9. Fustbalk</h5>
        <p>Deze balk geeft aan hoeveel er, theoretisch, nog in het fust zit. Dit werkt door, voor elk biertje wat er is genomen, een bepaald volume uit het fust te halen. Let op, vooral in het begin zal dit nog vrij inaccuraat zijn. Elke keer dat een nieuw fust wordt aangesloten, verandert het volume wat het systeem denkt dat in een biertje zit, zodat het steeds nauwkeuriger wordt. Ga dus vooral in het begin niet uit van wat hier staat; het klopt waarschijnlijk niet!</p>
        <h5 id="sound">10. Geluid</h5>
        <p>Met deze knop kan je aangeven of je geluid wil horen. Als dit uitstaat zal je zowel geen beugelgeluid als Sovjet Unie volkslied meer horen.</p>
        <h4 id="data">Dataopslag</h4>
        <p>De data die moet worden opgeslagen tussen sessies wordt opgeslagen in de map van de gebruiker, in de map "Bierstrepen". <br> <b>Let op!</b> Verander niets aan deze bestanden tenzij je een goede reden hebt en weet wat je doet. Je kan makkelijk iets kapot maken en zelfs data verliezen als je iets verkeerd doet. De items die worden opgeslagen zijn:</p>
        <ul>
          <li>"users.txt": In dit bestand worden de gebruikers opgeslagen. In het bestand staan de naam, het aantal biertjes gedronken uit het huidige fust, het totaal aantal gedronken biertjes en de schuld van een persoon.</li>
          <li>"casks.txt": In dit bestand worden de fusten opgeslagen. In het bestand staan het type, de prijs, het beginvolume, het huidige volume, de installeerdatum en het aantal genomen biertjes.</li>
          <li>"bugs.txt": In dit bestand staan de door gebruikers geraporteerde bugs. Als je wil, kan je dit bestand eens opsturen naar bierstrepen@luctimmerman.nl zodat de ontwikkelaar(s) kunnen zien waar problemen liggen.</li>
          <li>"meta.txt": In dit bestand staan een aantal waardes die belangrijk zijn, zoals de volume van een biertje, of het geluid aan staat en de datum dat de tap voor het laatst gespoeld is.</li>
        </ul>
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--&lt;!&ndash;  <script lang="js">$(".scrollspy-target").css('height', $(".scrollspy-target").height() + 'px')</script>&ndash;&gt;-->
<!--</div>-->
