<p>Onderaan staat een download knop voor de applicatie. Om de applicatie te gebruiken heb je Java 8 (JRE 8) nodig.
Ik probeer hem binnenkort te updaten naar Java 10, 11 of 12. <b>Let op!</b> Als je Linux gebruikt, kan OpenJRE niet gebruikt
worden. Deze bevat niet de JavaFX aspecten van Java 8. Daarom moet je de JRE downloaden van Oracle.</p>
<p>Je kan Java 8 <a href="https://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html"
                    target="_blank">hier</a> downloaden.</p>
<br>
<p>De nieuwste versie van de bierstrepen aplicatie kan hieronder worden gedownload. Deze kan altijd makkelijk vervangen
worden met de oude versie. Je hoeft hem alleen maar te vervangen.</p>
<a href="Villa_65_bierstrepen.jar">
  <button type="button" class="btn btn-outline-primary btn-lg">Download</button>
</a>
