<p>
  Als je graag wil bijdragen aan het project, kan je me dat laten weten. Na wat overleggen zal je toegang krijgen tot
  de GitLab (welke waarschijnlijk ooit GitHub wordt). Helpen met de website kan ook. Je kan me bereiken via het adres
  op de voorpagina; bierstrepen@luctimmerman.nl.
</p>
<p>
  Handige informatie:
</p>
<ul>
  <li>De applicatie is op dit moment gebouwd in JavaFX (Java 8). Dit is een tak van Java waar de GUI wordt gebouwd in HTML.</li>
  <li>De website is gebouwd in Angular 7.</li>
  <li>Vooral op het gebied van Linux kan er wat verbeterd worden, dus als je hier ervaring mee hebt, laat het weten!</li>
</ul>
