.content {
  padding: 1em;
  margin: 0 auto;
  width: 1200px;
}

@media (max-width: 1200px) {
  .content{
    width: auto;
  }
}

app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2.5em;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}
