<h1 class="display-4">hoi</h1>
<p class="h2">Welkom op de website van Bierstrepen</p>
<p class="h1">Door Luc Timmerman</p>
<p class="text">De Bierstrepen applicatie is gemaakt voor studentenhuizen met een tap. De applicatie kan worden gebruikt om bij te
  houden hoe veel bier iedereen heeft gedronken en om automatisch te verrekenen hoeveel iedereen moet betalen. Er zijn
  nog tal van andere functies, maar die kan je vinden op de wiki. Mocht je geïnteresseerd zijn, dan kan je hem downloaden
  onder het "Download" kopje. Als je vragen hebt, kijk dan eerst bij de wiki, en als het daar ook niet staat kan je
  je vraag sturen naar bierstrepen@luctimmerman.nl.
</p>

<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="2000" pause="true" touch="true" keyboard="true">
      <img src="BierstrepenScreenshot1.png" class="d-block w-100" alt="Screenshot">
    </div>
<!--    <div class="carousel-item" data-interval="2000" pause="true" touch="true" keyboard="true">-->
<!--      <img src="BierstrepenScreenshot2.png" class="d-block w-100" alt="Screenshot">-->
<!--    </div>-->
<!--    <div class="carousel-item" data-interval="2000" pause="true" touch="true" keyboard="true">-->
<!--      <img src="BierstrepenScreenshot3.png" class="d-block w-100" alt="Screenshot">-->
<!--    </div>-->
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
