.h1 {
  color: lightgray;
}

.text {
  word-wrap: break-word;
  text-align: justify;
}

#carousel {
  width: 600px;
  position: center;
}

@media (max-width: 600px){
  #carousel {
    width: auto;
  }
}
